<html>
    <style>
        body{
            background-color: #414868;
            color:#9ece6a;
        }
        form{
            background-color: #414868;
        }
    </style>
    <body>
        <form actions="/" method = "POST">
            INPUT TEXT HERE
            <textarea rows = "10" cols = "100" name = "input_text" value ="{{request.form[input_text]}}"></textarea><br>
            <button type="submit" value="submit">Analyze Sentiment</button>
        </form>
        <p></p>
        {%if sentiment%}
        <p style="color:#73daca">{{input_text1}}</p>
        <p style="color:#73daca">Sentiment analysis of text is </p> {{sentiment}}
        {%endif%}
    </body>
</html>